# Byte-compiled / optimized / DLL files
__pycache__/

venv

.idea
mlruns/
experiments/
imgs/blood_group_bcss_dice_severity.svg
imgs/bright_bcss_dice_severity.svg
imgs/blood_cell_bcss_dice_severity.svg
imgs/cont_bcss_dice_severity.svg
imgs/dark_bcss_dice_severity.svg
imgs/data_samples_BCSS.pdf
imgs/data_samples_bcss.pdf
imgs/data_samples_PathMNIST.pdf
imgs/data_samples.pdf
imgs/fat_bcss_dice_severity.svg
imgs/gauss_bcss_dice_severity_fcn.svg
imgs/gauss_bcss_dice_severity.svg
imgs/OOD_detection_per_artefact_bcss.svg
imgs/OOD_detection_per_artefact_pathmnist.svg
imgs/OOD_detection_per_artefact.svg
imgs/OOD_detection_per_severity_pathmnist.svg
imgs/OODaug_bcss_dice_severity_fcn.svg
imgs/OODaug_bcss_dice_severity_fcn2.svg
imgs/OODaug_PathMNIST_Acc_severity.svg
imgs/OODaug_pathmnist_dice_severity2.svg
imgs/squam_bcss_dice_severity.svg
imgs/thre_bcss_dice_severity.svg
